<a href="https://colab.research.google.com/github/Nivi-1402/Nivedhitha/blob/main/lecture_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print Statement

In [19]:
print("Hello, welcome to Python in Google Colab!")

Hello, welcome to Python in Google Colab!

Multiple Print Statement

In [21]:
print("Hello")
print("Welcome to Python")
print("This is Google Colab")

This is Google Colab

#Connecting Drive to Colab Notebook

In [22]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Loading Dataset - 1- from Google Drive

In [4]:
import pandas as pd

data = pd.read_csv('/content/drive/MyDrive/heart_2020_cleaned.csv')
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3,30,No,Female,55-59,White,Yes,Yes,Very good,5,Yes,No,Yes
1,No,20.34,No,No,Yes,0,0,No,Female,80 or older,White,No,Yes,Very good,7,No,No,No
2,No,26.58,Yes,No,No,20,30,No,Male,65-69,White,Yes,Yes,Fair,8,Yes,No,No
3,No,24.21,No,No,No,0,0,No,Female,75-79,White,No,No,Good,6,No,No,Yes
4,No,23.71,No,No,No,28,0,Yes,Female,40-44,White,No,Yes,Very good,8,No,No,No

# **Loading Dataset-2-from Colab Environment**

In [6]:
import pandas as pd

data = pd.read_csv('heart_2020_cleaned.csv')
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

Encode Categorical Data

In [8]:
from sklearn.preprocessing import LabelEncoder

cat_cols = data.select_dtypes(include='object').columns
le = LabelEncoder()

for col in cat_cols:
    data[col] = le.fit_transform(data[col])

data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,7,5,2,1,4,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,12,5,0,1,4,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,9,5,2,1,1,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,11,5,0,0,2,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,4,5,0,1,4,8.0,0,0,0

# Scale Numerical Values

In [9]:
from sklearn.preprocessing import StandardScaler

num_cols = data.drop("HeartDisease", axis=1).columns

scaler = StandardScaler()
data[num_cols] = scaler.fit_transform(data[num_cols])

data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,-1.808574,1.18146,-0.272741,-0.202889,-0.062980,3.258649,-0.408444,-0.944398,0.122026,0.603964,2.370013,0.536061,1.185467,-1.399112,2.501901,-0.200833,2.892003
1,0,-1.214228,-0.84641,-0.272741,4.925197,-0.434247,-0.493741,-0.408444,-0.944398,1.515886,0.603964,-0.424981,0.536061,1.185467,-0.067056,-0.399602,-0.200833,-0.345680
2,0,-0.222590,1.18146,-0.272741,-0.202889,2.040865,3.258649,-0.408444,1.058757,0.679570,0.603964,2.370013,0.536061,-0.768483,0.598971,2.501901,-0.200833,-0.345680
3,0,-0.599222,-0.84641,-0.272741,-0.202889,-0.434247,-0.493741,-0.408444,-0.944398,1.237114,0.603964,-0.424981,-1.865159,-0.117167,-0.733084,-0.399602,-0.200833,2.892003
4,0,-0.678680,-0.84641,-0.272741,-0.202889,3.030909,-0.493741,2.447759,-0.944398,-0.714290,0.603964,-0.424981,0.536061,1.185467,0.598971,-0.399602,-0.200833,-0.345680

Split Data for Training and Testing

In [10]:
X = data.drop("HeartDisease", axis=1)
y = data["HeartDisease"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print("Data split completed successfully")

Data split completed successfully

#**Random Forest**

In [11]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create folder to save results
folder = "model_results"
os.makedirs(folder, exist_ok=True)

# Initialize and train Random Forest Classifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Predict
y_pred = rf.predict(X_test)

# Calculate metrics
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print metrics
print("--- Random Forest Classifier Metrics ---")
print("Accuracy :", acc)
print("Precision:", prec)
print("Recall   :", rec)
print("F1-Score :", f1)

# Save metrics table as CSV
df = pd.DataFrame({
    "Metric": ["Accuracy", "Precision", "Recall", "F1-Score"],
    "Score": [acc, prec, rec, f1]
})
table_file = os.path.join(folder, "RandomForest_metrics.csv")
df.to_csv(table_file, index=False)
print(f"Metrics table saved to: {table_file}")

# Plot metrics as bar graph
plt.figure(figsize=(6,4))
plt.bar(df["Metric"], df["Score"], color='orange')
plt.title("Random Forest Classifier Metrics")
plt.ylim(0,1)
for i, v in enumerate(df["Score"]):
    plt.text(i, v + 0.02, f"{v:.2f}", ha='center', fontweight='bold')
plt.tight_layout()

graph_file = os.path.join(folder, "RandomForest_metrics.png")
plt.savefig(graph_file)
plt.close()
print(f"Metrics graph saved to: {graph_file}")

--- Random Forest Classifier Metrics ---
Accuracy : 0.9091035731698823
Precision: 0.3723076923076923
Recall   : 0.09901800327332243
F1-Score : 0.15643180349062702
Metrics table saved to: model_results/RandomForest_metrics.csv
Metrics graph saved to: model_results/RandomForest_metrics.png

#**Decision Tree**

In [12]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create folder to save results
folder = "model_results"
os.makedirs(folder, exist_ok=True)

# Initialize and train Decision Tree Classifier
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)

# Predict
y_pred = dt.predict(X_test)

# Calculate metrics
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print metrics
print("--- Decision Tree Classifier Metrics ---")
print("Accuracy :", acc)
print("Precision:", prec)
print("Recall   :", rec)
print("F1-Score :", f1)

# Save metrics table as CSV
df = pd.DataFrame({
    "Metric": ["Accuracy", "Precision", "Recall", "F1-Score"],
    "Score": [acc, prec, rec, f1]
})
table_file = os.path.join(folder, "DecisionTree_metrics.csv")
df.to_csv(table_file, index=False)
print(f"Metrics table saved to: {table_file}")

# Plot metrics as bar graph
plt.figure(figsize=(6,4))
plt.bar(df["Metric"], df["Score"], color='skyblue')
plt.title("Decision Tree Classifier Metrics")
plt.ylim(0,1)
for i, v in enumerate(df["Score"]):
    plt.text(i, v + 0.02, f"{v:.2f}", ha='center', fontweight='bold')
plt.tight_layout()

graph_file = os.path.join(folder, "DecisionTree_metrics.png")
plt.savefig(graph_file)
plt.close()
print(f"Metrics graph saved to: {graph_file}")

--- Decision Tree Classifier Metrics ---
Accuracy : 0.8579786863550881
Precision: 0.2129304286718201
Recall   : 0.2479541734860884
F1-Score : 0.22911153119092628
Metrics table saved to: model_results/DecisionTree_metrics.csv
Metrics graph saved to: model_results/DecisionTree_metrics.png

#**Extra Trees**

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create folder to save results
folder = "model_results"
os.makedirs(folder, exist_ok=True)

# Initialize and train Extra Trees Classifier
etc = ExtraTreesClassifier(n_estimators=100, random_state=42)
etc.fit(X_train, y_train)

# Predict
y_pred = etc.predict(X_test)

# Calculate metrics
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
rec = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print metrics
print("--- Extra Trees Classifier Metrics ---")
print("Accuracy :", acc)
print("Precision:", prec)
print("Recall   :", rec)
print("F1-Score :", f1)

# Save metrics table as CSV
df = pd.DataFrame({
    "Metric": ["Accuracy", "Precision", "Recall", "F1-Score"],
    "Score": [acc, prec, rec, f1]
})
table_file = os.path.join(folder, "ExtraTrees_metrics.csv")
df.to_csv(table_file, index=False)
print(f"Metrics table saved to: {table_file}")

# Plot metrics as bar graph
plt.figure(figsize=(6,4))
plt.bar(df["Metric"], df["Score"], color='lightgreen')
plt.title("Extra Trees Classifier Metrics")
plt.ylim(0,1)
for i, v in enumerate(df["Score"]):
    if v is not None:
        plt.text(i, v + 0.02, f"{v:.2f}", ha='center', fontweight='bold')
plt.tight_layout()

graph_file = os.path.join(folder, "ExtraTrees_metrics.png")
plt.savefig(graph_file)
plt.close()
print(f"Metrics graph saved to: {graph_file}")

# **github**

In [13]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

df = pd.read_csv(url)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

#**kaggle**

In [15]:
import os

os.environ['KAGGLE_USERNAME'] = "nive murugan"
os.environ['KAGGLE_KEY'] = "24515419"

In [16]:
import os
os.environ["KAGGLE_API_TOKEN"]="KGAT_b82e65a054c632476726d7a9cdf45594"
!kaggle datasets download -d uciml/iris
!unzip iris.zip

Dataset URL: https://www.kaggle.com/datasets/uciml/iris
License(s): CC0-1.0
Downloading iris.zip to /content
  0% 0.00/3.60k [00:00<?, ?B/s]
100% 3.60k/3.60k [00:00<00:00, 10.9MB/s]
Archive:  iris.zip
  inflating: Iris.csv
  inflating: database.sqlite

#**openml**

In [17]:
from sklearn.datasets import fetch_openml
dataset = fetch_openml(name='credit-g', version=1)
X = dataset.data
y = dataset.target
X.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,4,real estate,67,none,own,2,skilled,1,yes,yes
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,2,real estate,22,none,own,1,skilled,1,none,yes
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,3,real estate,49,none,own,1,unskilled resident,2,none,yes
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,4,life insurance,45,none,for free,1,skilled,2,none,yes
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,4,no known property,53,none,for free,2,skilled,2,none,yes

Using Built-in Datasets (Scikit-Learn)

In [7]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

iris = datasets.load_iris()

X = iris.data
y = iris.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
print("RF Accuracy:", rf.score(X_test, y_test))

svm = SVC()
svm.fit(X_train, y_train)
print("SVM Accuracy:", svm.score(X_test, y_test))

RF Accuracy: 0.9333333333333333
SVM Accuracy: 1.0